<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	 <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Add Comment</title>
	<th:block th:replace="fragments/style"></th:block>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default" th:replace="fragments/header :: header"></nav>

	<div class="container" layout:fragment="content">
		<div class="alert alert-info">
			<h2>Create Comment</h2><hr>
			<a class="btn btn-primary" th:href="@{'/posts/' + ${postId} + '/comments'}">Return Back</a>
		</div>

		<form action="/comment/save" th:object="${newComment}" method="post">

			<div class="form-group">
				<label>Description: </label> 
				<textarea cols="80" rows="10"  class="form-control" th:field="*{description}" placeholder="Enter Your Comment"></textarea>
				<div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error" style="color: red; font-weight: bold; size: 24px">Comment Error></div>
			</div>
			<div class="pull-right">
				<a th:href="@{'/posts/' + ${postId} + '/comments'}" class="btn btn-default">Cancel</a>
				<button type="submit" class="btn btn-primary" >Save</button>
			</div>

		</form>
	</div>
	
	<!--Footer-->
	<footer class="page-footer" th:replace="fragments/footer"></footer>
	<!--/Footer-->

	<th:block th:replace="fragments/script"></th:block>
	
	<th:block layout:fragment="myScript">
	
	</th:block>
	
</body>
</html>